<div>
  <div class="clearfix"> 
  <app-match-setup *ngIf="!matchSet" (matchBuilded)="openMatch($event)" #setupScreen></app-match-setup>
  
  <app-turn-control (afterInitEvent)="setStart()" *ngIf="matchSet" [player]="matchService.getPlayer1()" ></app-turn-control>
  <app-grid *ngIf="matchSet" (playerMoved)="changeTurn()"></app-grid>
  <app-turn-control (afterInitEvent)="setStart()" *ngIf="matchSet" [player]="matchService.getPlayer2()" ></app-turn-control>
  </div>
<br>
  <p>
    {{result}}
  </p>
  <div>
    <button type="button" (click)="restartMatch()">Restart</button>
  </div>
</div>